extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/gameshelf.css")
  script(src="/javascripts/gameshelf.js" type="module" defer)

block content
  if !sessionUser
    p PLEASE LOG IN
  else
    div#gameshelf__container
      div#gameshelfLibrary__container
        h1 Gameshelves
        each shelf in gameshelves 
          div.gameshelfCollection__container
            div.gameshelf__div
              h2= shelf.name
        div#addGameshelf__container
          h2 New Gameshelf 
          input(type="text", name="addGameshelf" id='newGameShelf__input')
          button(type="submit") Create Gameshelf
      div#gameshelfGames__container
        h1 Games
