extends layout.pug

append head 
  link(rel="stylesheet", href="stylesheets/games.css")

block content
  div#games__container 
    each game in games
      a(href=`../games/${game.id}`)
        div.body__gameCard 
          div.gameCard__image 
            img(src=game.imgUrl)
          div.gameCard__text
            h2= game.gameName
