extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-page.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div#main__title
    h1= title
  div#mainGames__container
    each game in gamesList
      div.mainBody__outsideGameCard
        a(href=`../games/${game.id}`)
          div.mainBody__gameCard 
            div.mainGameCard__image 
              img(src=game.imgUrl)
            div.mainGameCard__text
              h2 Average Rating
              h2= game.gameName
