doctype html
html
  head
      block head
        title="Navigamer"
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/nav.css")
        link(rel="stylesheet" href="/stylesheets/footer.css")
  body
    header
      div(class='nav__container')
        a(href='/')
          img(src='logoNavigamer.jpg' alt='logo' class='nav__logo' href='/' style='width:400px')
        nav(class='navbar')
          ul()
            li(): a(class='games-link' href='/games') Games
          if sessionUser
            li(): a(class='gameshelves-link' href=`/users/${user.id}`) Gameshelves
            li(): a(class='logout-link' href='/logout') Sign Out
          else
            li(): a(class="demo-user" href='/demo-login') Demo
            li(): a(class='login-link' href='/login') Login
            li(): a(class='signup-link' href='/signup') Signup

  block content

  footer
    div#footer__container
      div#footer__containerText
        h2 Add Github link & contributers here
