#addGameBody__container {
  color: #e6e3e3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;
  align-content: center;
  text-align: center;
}

#addGameBody__container h1 {
  font-size: 32px;
  margin: 20px;
}

.new-game-form {
  margin: 0;
  padding: 0;
}

.addGame__container {
  display: flex;
  border: 3px solid #909090;
  border-radius: 10px;
  padding: 5px 20px;
  background: rgb(70, 118, 199);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.509);
}

.addGame__inputBlock {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 90%;
}

.addGame__inputBlock input {
  margin-top: 5px;
  height: 40px;
  border-radius: 10px;
}

#addGame__btn {
  font-weight: bold;
  border-radius: 10px;
  height: 30px;
  transition: background-color 0.2s;
}

#addGame__btn:hover {
  background-color: rgb(53, 222, 73);
}

#footer__container {
  position: relative;
}
