#games__container {
  display: inline-block;
  max-width: 100vw;
}

.body__gameCard {
  display: inline-block;
  width: 250px;
  height: 350px;
  background-color: #2F3036;
  border: 1px solid #909090;
  border-radius: 5px;
  margin: 25px;
  padding: 20px;
  overflow: hidden;
}

.gameCard__text {
  display: flex;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  justify-content: center;
}

.gameCard__image {
  display: flex;
  width: 210px;
  height: 260px;
}

.gameCard__image img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
