#main__title {
  font-size: 22px;
  background-color: rgba(1, 32, 73, 0.6);
  color: #e6e3e3;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 1.6;
}

#main__title p {
  font-size: 20px;
}

#mainGames__title {
  font-size: 20px;
  color: #e6e3e3;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 1.6;
  background: rgba(0, 0, 0, .75);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#mainGames__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: space-around;
  background: rgba(0, 0, 0, .5);
  border-radius: 50px;
  margin: auto;
  width: 95%;
}

.mainBody__outsideGameCard {
  padding: 25px;
}

.mainBody__gameCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background-color: #2F3036;
  border: 1px solid #909090;
  border-radius: 5px;
  padding: 20px;
}

.mainGameCard__text {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  justify-content: center;
}

.mainGameCard__text h2, a {
  text-decoration: none;
}

.mainGameCard__image  {
  display: flex;
  align-self: center;
  width: 230px;
  height: 280px;
}

.mainGameCard__image img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#footer__container {
  position: relative;
}

