.nav__container {
  width: 95%;
}

.nav__logo {
  float: left;
  padding-left: 20px;
  padding-top: 15px;
}

header {
  background: black;
  height: 100px;
}

header::after {
  content: '';
  display: flex;
  clear: both;
}

nav {
  float: left;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: flex;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: cornflowerblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #3A93C4;
}

nav a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  top: 0;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}
