.navbar{
  margin-top: 7px;
  display: flex;
  align-items: center;
  height: 50px;
}

.nav__container {
  width: 80%;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  float: left;
  margin-top: 7px;
  margin-left: -125px;
  padding: 0px;
  position: absolute;
}

header {
  background: black;
  height: 90px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: cornflowerblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #f8f8f8;
  font-weight: bold;
}

nav a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  top: 0;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}
