* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(
    to bottom right,
    rgb(50, 49, 49),
    rgb(1, 22, 143)
  );
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
