* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
}

body {
  /* min-height: 100; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../zeldaTemple.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.githubLogo {
  height: 70px;
}

#footer__containerText {
  display: inline-flex;
  margin: 5px 20px;
}

.member {
  margin: 0 20px;
}

.member a {
  margin: 0 20px;
  color: #e6e3e3;
}

#footer__content {
  display: flex;
  justify-content: center;
}
