#game__title {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  margin: 35px auto 30px auto;
  background: rgba(0, 0, 0, .75);
  width: fit-content;
  padding: 0 50px;
  border-radius: 60px;
}

#gameBody__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#game__container {
  display: flex;
  background-color: rgba(1, 32, 73, 0.8);
  border: 1px solid #909090;
  border-radius: 10px;
  padding: 20px;
  width: 40vw;
}

#game__main {
  display: flex;
  width: fit-content;
}

#gameImg__container {
  display: flex;
  height: fit-content;
  justify-content: center;
}

#gameImg__container img {
  height: 500px;
  width: auto;
  max-width: 450px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: -5px 3px 1px 3px rgb(0 0 0);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
}

#gameRelease,
#gameDeveloper,
#gamePlatforms,
#gameBio {
  margin: 20px;
  color: white;
}

#gameBio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 500px;
  margin: 50px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;  /* mozilla */
}

#gameBio::-webkit-scrollbar {
  display: none;  /* Safari and Chrome browsers */
}



.header {
  margin-bottom: 5px;
}

.reviews__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60vw;
  background-color: rgba(1, 32, 73, 0.8);
  border: 1px solid #909090;
  border-radius: 5px;
  padding: 20px;
  color: white;
}

.review-form {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  width: 100%;
}

.review-text {
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto 10px auto;
  width: 100%;
}

.ratings__container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.ratings__container label {
  font-size: 25px;
  font-weight: bold;
  height: 30px;
  padding: 0 5px;
}

.ratings__container button {
  transition: background-color 0.2s;
  font-size: large;
  margin-left: 5px;
  font-weight: bold;
}

.ratings__container button:hover {
  background-color: rgb(92, 149, 255);
}

.review__add {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10%;
}

.reviews__h2 {
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}

.review-list {
  margin-top: 5px;
  list-style-type: "\1F3AE";
}

.new-review__username {
  font-size: 17px;
  padding-left: 10px;
  margin: 5px 0 5px 20px;
  width: fit-content;
}

.new-review__rating,
.new-review__review {
  list-style: none;
  padding-left: 30px;
  margin-bottom: 5px;
}

.new-review__review {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.user-reviews {
  display: flex;
  flex-direction: column;
}

.thanksDiv {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.review_wrapper a {
  display: flex;
  width: fit-content;
}

#data__left {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 30px;
}

#footer__container {
  position: relative;
}

#main__content {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#no__reviews {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-bottom: 50px;
}
