.login-form h1 {
  text-transform: uppercase;
  color: white;
  margin: 10px 0;
}

.login-form-container {
  width: 600px;
  margin: 5% auto;
}

.login-form {
  display: flex;
  background: rgb(70, 118, 199);
  padding: 10px 10px;
  flex-direction: column;
  border: 4px solid rgb(33, 32, 32);
  border-radius: 20px;
  box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.7);
}

.login-details input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.login-details label {
  color: rgb(244, 244, 244);
  text-transform: uppercase;
  line-height: 20px;
  font-weight: bold;
}

.loginInputField {
  margin: 15px 0;
}

.login-button {
  background: rgb(255, 246, 245);
  margin-top: 0.5em;
  border: 0;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;

  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: cornflowerblue;
}

.login-error p,
.errors-ul {
  width: 400px;
  margin: 2% auto;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.login-error p {
  font-size: larger;
  text-decoration: underline;
  padding-left: 4px;
}

.errors-ul {
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(211, 38, 38, 0.858);
}

.error-li {
  padding: 0.2em;
  font-weight: bold;
  list-style: inside;
}

#footer__container {
  position: relative;
}
